body {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url(../assets/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  .raffle-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    .nanox-logo {
      max-width: 230px;
      filter: brightness(0) invert(1);
      margin-bottom: 50px;
    }

    .hide {
      display: none;
    }

    .file-name {
      font-size: 20px;
      text-transform: uppercase;
    }

    .total-label {
      padding-top: 10px;
      padding-bottom: 30px;
    }

    .raffle-prize {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;
      width: 75%;
    }

    .btn-random {
      width: 75%;
      background-color: goldenrod;
      color: white;
      text-transform: uppercase;
      font-size: 25px;
    }

    .btn-excel-format {
      border: none;
      position: absolute;
      bottom: 10px;
      left: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-size: 15px;
    }

    // .timer-group {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   position: absolute;
    //   bottom: 15px;
    //   left: 15px;
    //   color: white;

    //   .timer-text {
    //     margin-right: 10px;
    //     font-weight: 500;
    //     font-size: 16px;
    //   }

    //   .drum-btn {
    //     font-size: 12px;
    //     width: 50px;
    //     font-weight: 500;
    //     border: solid 2px white;
    //     padding: 3px 0px;
    //   }
    // }

    .settings-group {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: black;

      .dropdown-menu {
        width: 210px;
        padding: 0;
      }

      .timer-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 10px;
  
        .timer-text {
          margin-right: 10px;
          font-weight: 500;
          font-size: 16px;
        }
  
        .drum-btn {
          font-size: 12px;
          width: 45px;
          font-weight: 500;
          border: solid 2px #4d5154;
          padding: 3px 0px;
        }
      }
    }
  }
}

.modal-winners {
  .modal-dialog {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    .modal-content {
      width: 1100px;
    }
  }
}

.modal-random {
  .modal-dialog {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    .modal-content {
      width: 1100px;

      .modal-body {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-image: url(../assets/winner-bg4.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        .display-congrats {
          color: white;
          font-size: 80px;
          font-weight: 500;
          text-transform: uppercase;
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
        }

        .display-group {
          background-color: #00000052;
          padding-bottom: 20px;
          width: 100%;
        }

        .display-name {
          color: white;
          font-size: 60px;
          font-weight: 500;
          text-transform: uppercase;
          
          
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
          text-align: center;
        }

        .display-details {
          text-align: center;
          font-size: 25px;
          color: white;
          text-transform: uppercase;
          font-weight: 500;
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);

          display: flex;
          justify-content: center;
          align-items: center;
          line-height: normal;

          .dd-user {
            margin: 0 10px;
          }
        }

        .display-prize {
          color: white;
          font-size: 25px;
          font-weight: 500;
          text-transform: uppercase;
          text-shadow: 2px 2px 10px rgb(0, 0, 0);
          padding-top: 10px;
        }

        .btn-claim {
          margin-top: 20px;
          background-color: transparent;
          font-size: 20px;
          border: solid 2px darkslateblue;
          color: darkslateblue;
          font-weight: 500;
          border-radius: 3px;

          &:hover {
            background-color: darkslateblue;
            cursor: pointer;
            color: white;
          }
        }

        .btn-redraw {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 14px;
          font-weight: normal;
          border: solid 0px darkslateblue;
          background-color: white;
          color: black;
          border-radius: 3px;

          &:hover {
            background-color: crimson;
            cursor: pointer;
            color: white;
          }
        }

      }
    }
  }
}

.duplicate-modal {
  .hide {
    display: none;
  }

  .upload-btn-group {
    margin-top: 5px;
    display: flex;
    justify-content: center;

    .upload-btn {
      background-color: #168316;
      color: white;
      padding: 2px 20px;
      border-radius: 5px;
      font-weight: 500;
      border: solid 2px #168316;
      margin-right: 10px;
  
      &:hover {
        background-color: white;
        color: #168316;
        cursor: pointer;
      }
    }
  }

  .modal-dialog {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    .modal-content {
      width: 840px;

      .modal-body {
        height: 470px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .dup-cover {
          width: 100%;
          height: 100%;
          background-image: url(../assets/duplicate3.jpg);
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
          border: solid 1px gainsboro;
        }

        .dup-cover-file {
          width: 100%;
          height: 100%;
          background-image: url(../assets/no-excel.png);
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
          border: solid 1px gainsboro;
        }

        .dup-cover-prize {
          width: 100%;
          height: 100%;
          background-image: url(../assets/no-prize.jpg);
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover;
          border: solid 1px gainsboro;
        }

        .dup-cover-drum {
          width: 100%;
          height: 100%;
          background-image: url(../assets/drum3.gif);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: solid 1px gainsboro;

          display: flex;
          justify-content: center;
          align-items: center;

          .lambiolo-icon {
            height: 100%;
          }

          .dup-winner-drum-title {
            font-size: 90px;
            color: white;
            font-weight: 500;
            background-color: #0000004f;
            width: 90%;
            text-align: center;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
          }
        }

        .dup-cover-format {
          width: 100%;
          height: 100%;
          background-color: #1a1a1a;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover;
          border: solid 1px gainsboro;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        .dup-message {
          padding: 15px 0;
          width: 100%;
          text-align: center;
          line-height: 35px;

          .dup-title {
            font-size: 35px;
            font-weight: 600;
            color: darkslategray;
          }

          .dup-winner-drum-title {
            padding: 10px 0px;
          }

          .dup-text {
            font-size: 20px;
          }

          .dup-text-format {
            font-size: 16px;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
          }

          .btn-dup {
            padding: 8px 50px;
            border-radius: 3px;
            margin-top: 10px;
          }
        }
      }
    }

    .drum-roll-content {
      width: 1000px;

      .drum-roll-body {
        height: 500px;
      }
    }
  }
}

.instruction-modal {
  .modal-dialog {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    .modal-content {
      width: 840px;

      .modal-body {
        width: 100%;
        // height: 500px;
        // background-color: #1a1a1a;
        border: solid 1px white;
        color: white;
        background-color: #232037;

        .instruction-carousel {
          display: flex;
          flex-direction: column-reverse;
        }

        .instruction-container {
          height: 420px;
          width: 100%;

          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 30px;
          flex-direction: column;

          .carousel-part {
            text-align: center;
          }

          .carousel-part-image {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;

            .carousel-image {
              box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }

            .announcement-image {
              width: 60%;
            }
          }

          .carousel-part-dev {
            height: 250px;
            padding: 0;
            border: solid 1px white;

            .dev-gif {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .instruction-title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 500;
          }

          .instruction-text {
            font-size: 16px;
            text-align: center;
          }

          .btn-close-modal {
            margin-top: 10px;
            padding-left: 40px;
            padding-right: 40px;
          }
        }

        // .instruction-one {
        //   background-image: url(../assets/instruction1.jpg);
        //   background-position: bottom;
        //   background-repeat: no-repeat;
        //   background-size: cover;
        // }

        .carousel-instruction-btn {
          width: 50px;
        }

        .carousel-indicators {
          position: relative;
        }
      }
    }
  }
}